body{
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);;
    height: 100%;

}
h1{
    font-weight: bolder;
    font-style: italic;
    margin: 20px;
}

.col-md-8{
    margin: 20px !important;
}
thead{
    background-color: darkblue;
}